{% extends 'base.html' %}


{% block title %}
    Login
{% endblock %}


{% block content %}
    <h2>Подключение к DTS по SFTP</h2>
    <br>
    <form action="" method="post">
        {{ form.csrf_token() }}
        <div class="login_field">
            {{ form.hostname.label }}
            {{ form.hostname }}
            {% for error in form.hostname.errors %}
                {{ error }}
            {% endfor %}
            <br><br>
            {{ form.port.label }}
            {{ form.port }}
            {% for error in form.port.errors %}
                {{ error }}
            {% endfor %}
            <br><br>
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
            <br><br>
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
        </div>
        <br><br>
        {{ form.submit }}
    </form>
{% endblock %}